[Unit]
Description=Flask app 
After=network.target

[Service]
ExecStart=/bin/bash -u run.sh
WorkingDirectory=/home/pi/dobotMagician/CodeRasp/Flask
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

